@import "../../Variables.less";
@import "../../Mixins.less";

.articles-filter-control {
    .flex(column);
    .flex-size(1,1,auto);
    height: 100%;

    &-content {
        .flex-size(0,1,auto);
        max-width: @max-content-width;
        margin: 0 auto;
        padding: @base-padding @base-padding 2*@base-padding @base-padding;
    }

    &::before {
        content: "";
        .flex-size(1,1,auto);
    }

    &-button {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: @bar-height;
        margin: 0 auto;
        padding: @base-padding;
        background: @background-color-darken;

        .button {
            position: relative;
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: @max-content-width;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}