@import "../../Variables.less";

.articles-filter-control {
    &-content-wrapper, &-background {
        position: fixed;
        bottom: @bar-height;
        left: 0;
        right: 0;
        display: block;
    }

    &-background {
        height: calc(~"100% - " 2*@bar-height);
        background: fade(@background-color, 4*@base-overlay-opacity);
    }

    &-content-wrapper {
        border-top: 1px solid @background-color-darken;
        max-height: calc(~"100% - " 2*@bar-height);
        background: @background-color;
        overflow-y: auto;
    }

    &-content {
        position: relative;
        bottom: 0;
        max-width: @max-content-width;
        margin: 0 auto;
        padding: @base-padding @base-padding 2*@base-padding @base-padding;
    }

    &-command-wrapper {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: @bar-height;
        margin: 0 auto;
        padding: @base-padding;
        background: @background-color-darken;

        .button {
            position: relative;
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: @max-content-width;
            text-align: center;
        }
    }
}