@import "Variables.less";

.articles {
    .article {
        width: 100%;
        max-width: @max-content-width;
        margin: 0 auto;
        padding: 4*@base-padding 0;
        text-align: center;
        border-bottom: 1px dashed @separator-color;

        p {
            margin: 2*@base-padding 20%;
        }

        h1, h2, h3 {
            margin: 2*@base-padding 10%;
        }

        a {
            h1 {
                &:hover {
                    transform: @hover-transform;
                    color: @text-color-darken;
                }

                &:active {
                    transform: @active-transform;
                }
            }
        }

        hr {
            width: 20%;
            margin: 2*@base-padding auto;
        }

        .thumbnail {
            height: 40vh;
            margin: 0 2*@base-padding 3*@base-padding 2*@base-padding;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: @background-color-darken;
            border: 1px solid @text-color;
            border-radius: @base-border-radius;
            opacity: 0.95;

            &:hover {
                transform: @hover-transform;
                opacity: 1;
            }

            &:active {
                transform: @active-transform;
            }
        }
    }
}