@import "Variables.less";

.articles-filter-control {
}

.articles-filter-control-content-wrapper {
    position: fixed;
    bottom: @bar-height;
    left: 0;
    right: 0;
    display: block;
    max-height: calc(~"100% - "2*@bar-height);
    background: @background-color;
    overflow-y: auto;
}

.articles-filter-control-content {
    position: relative;
    bottom: 0;
    max-width: @max-content-width;
    margin: 0 auto;
    padding: @container-padding;
}

.articles-filter-control-command-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    padding: @base-padding;
    background: @background-color-darken;
}

.articles-filter-control-command-wrapper .button {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: @max-content-width;
    text-align: center;
}

/*@media only screen and (min-width: @desktop-break-point-width) {
    .articles-filter-control-content-wrapper {
        top: @bar-height;
        right: 0;
        bottom: 0;
        width: @desktop-articles-filter-width;
        border-right: 1px solid @background-color-darken;
    }

    .articles-filter-control-command-wrapper {
        visibility: hidden;
    }
}*/