@import url("https://fonts.googleapis.com/css?family=Roboto|Playfair+Display&subset=latin-ext");
* {
  transition: 0.4s ease;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: #222;
  overflow-y: scroll;
}
main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 120px 0 0 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.visible {
  opacity: 1 !important;
  visibility: visible !important;
}
.collapsed {
  opacity: 0;
  visibility: hidden;
}
.center {
  display: flex;
  align-content: center;
  justify-content: center;
}
p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.35rem;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif, serif;
}
h4,
h5,
h6 {
  color: #888;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 300;
}
h1 {
  font-size: 1.3rem;
}
h5 {
  font-size: 0.7rem;
}
h6 {
  font-size: .5rem;
}
hr {
  border: 0;
  border-bottom: 1px solid #CCC;
}
a {
  color: #222;
  text-decoration: none;
}
a:visited {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #222;
}
a:active {
  transform: translateY(2px);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px 20px;
  background: #FFF;
  border-bottom: 1px solid #F2F2F2;
}
header .left {
  flex: 0 1 auto;
}
header .center {
  flex: 1 1 auto;
}
header .center img {
  margin: 6px auto;
  height: 28px;
}
header .right {
  flex: 0 1 auto;
}
.button,
a.button {
  display: inline-block;
  padding: 11px 20px;
  cursor: pointer;
  background: #F2F2F2;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: .82rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button:hover,
a.button:hover {
  background: #e5e5e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button:focus,
a.button:focus {
  background: #F2F2F2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button:active,
a.button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}
.primary-button,
a.primary-button {
  background: #07B0C5;
}
.primary-button:focus,
a.primary-button:focus {
  background: #07B0C5;
}
.primary-button:hover,
a.primary-button:hover {
  background: #069aac;
}
.secondary-button,
a.secondary-button {
  background: #F8AC1B;
}
.secondary-button:focus,
a.secondary-button:focus {
  background: #F8AC1B;
}
.secondary-button:hover,
a.secondary-button:hover {
  background: #f2a107;
}
.toggle-button {
  margin: 0 2px 6px 0;
  display: inline-block;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: .8rem;
  letter-spacing: .02rem;
  text-transform: uppercase;
  text-decoration: none;
}
.toggle-button input[type=radio] {
  display: none;
}
.toggle-button input[type=radio]:checked + span {
  background: #F8AC1B;
  color: #FFF;
}
.toggle-button input[type=radio]:checked + span:hover {
  background: #f2a107;
}
.toggle-button span {
  display: block;
  background: #F2F2F2;
  color: #888;
  padding: 11px 20px;
  border-radius: 4px;
}
.toggle-button span:hover {
  background: #e5e5e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.toggle-button span:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #FFF;
  transform: translateY(2px);
}
select {
  display: inline-block;
  padding: 11px 20px;
  cursor: pointer;
  background: #F2F2F2;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: .82rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  min-width: 60px;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
}
select:hover {
  background: #e5e5e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.primary-select {
  background: #07B0C5;
}
.primary-select:hover {
  background: #069aac;
}
.secondary-select {
  background: #F8AC1B;
}
.secondary-select:hover {
  background: #f2a107;
}
.articles {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.articles .article {
  flex: 1 1 auto;
  width: 100%;
  max-width: 750px;
  padding: 30px 20px;
  text-align: center;
  border-bottom: 1px dashed #CCC;
}
.articles .article p {
  margin: 20px 20%;
}
.articles .article h1,
.articles .article h2,
.articles .article h3 {
  margin: 20px 10%;
}
.articles .article a h1:hover {
  color: #000;
  cursor: pointer;
}
.articles .article a h1:active {
  transform: translateY(2px);
}
.articles .article hr {
  width: 20%;
  margin: 20px auto;
}
.articles .article .thumbnail {
  position: relative;
  max-width: 480px;
  height: 40vh;
  max-height: 270px;
  margin: 0 auto 30px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F2F2F2;
  border: 1px solid #222;
  border-radius: 4px;
  opacity: 0.9;
  filter: sepia(0.25);
}
.articles .article .thumbnail:hover {
  opacity: 1;
  cursor: pointer;
}
.articles .article .thumbnail:active {
  transform: translateY(2px);
}
.articles .article .thumbnail:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAC8eSURBVHheXd05tC3TFsbxOnu/Mfa4OBFChJcQmSbTZAgRItNkmgwhQmSa7CJDeK8Q4SXTZAiRkhlv/eZ7/zPqvTlGqVprzfnNbzaratc+5x7Hy5cvn2/bdvr1119PP/300+n+++8/Xbp06XT33XefnnnmmdN33313uuGGG05PPfXUzL/77runK1eunP7666/TnXfeOXOu33jjjdPDDz88dh9++OHp77 //Pj300EODyQYWH08++eTplVdeOd12222nP//8c/y9/PLLY7O4nG655ZbB++KLL04333zzhS49B5wvv/zy9M8//1xwsP75558PT7FcvXp1eL/wwgunr776amzMsTf3xx9/jN7XX389NtbZw8NDrD/++OPp9ddfPz322GPDiy2b3377bXyzo883PXG+9dZbo08PpljZ4QJTPvhkJy5n42+++eZ0/fr1iX1bhucrIeeL0PlKwMXZoVg//PDD+XIy42U81+bpOZuz9sEHH4yuA57533//fXSyNc8fDNf5WAGMvfnObMNbgc6ZT/POcFzfd999s2ZsHi57Yz6tmw83DAdd55Xg4UHHuJjgOsc/Gxjm8DYPNz0HvuUIBhs88psfHOnG0fVRt6+qb99+++22qrytKm2ri2a8nG1vvvnmdu3atW11zPbqq69uq4MWj//I6vCxcV5du61u2D7++ONtdcO2CG0PPPDAzD3++OMbH3BXZ801nbWLZm51jsbYPv300211zra6/r8e/uNjddjwWDtwe+SRR7Znn312Wzty9NnDWTtquOdnde74Wt07POh///3320cffTS4/FtnQ8S4dtOsiwmOa3HgABMHXNjgi7drOuK85557trX7hp/xE088Mdzef//9wSNyKB/icF67Y7v99tvHJzm6xZjggJGgGa1Kj6IzUKQivG49Q6zgnZGx5hpJ6wt77Dh9++23hwCRSJirs8aXIvz888/b6qTtpptuGhzJ4p+tZH3yyScXwVg/OzsbrBoCf0l45513Zl4S8NBY5iXJOPt1u9jee++9iUWiNUFzCf9iEJN5WPIDTwMqOk50rCmM2BSfDezV9ZMLjcE3e7FVWHGI0Xjd4rbjCsR9brrIpOAEWeUQdVgTNDDJXM+FmRMEMkhJLLuKJ5F2lGQgrgCwrFtDEBZcSSFwwpJcePukv/TSS5MIjcCvRBnrRl1PJEYD4Edg0DNfwSSIDv844kv4wosvXCVe4uKrMZztDk0oLknHhY48ikWeYPLHxs4xr1AKRk/T4G53O5OzRdL9bqrukAhnQG5Z6/62Pffcc3PLEoCDCBJRXS1ZxhIuAAEKTCHWvXH0jdmWXEHYfTD4Q0qgiCJP4mUeFj6u2dCBp9vpGdN1NmfNNV3r8PmNI75ihWvdYSzBYoVFH0dnccqJQtETBxGrZoALk58EB/qwxQWTndjpKyIsHJ0dB4aAkHemJOj10JnACABggBnTs17wgjBfcoxdI0MXGQKD3nrQXRCiG1nBsJEQPhF0ljSBOCLu4EuinHEm+2I4wyoOc5Ln7LAm4Xy2c7ILW/HoKQo968744mYsF7iZI/RJu6sixxkHc64JHDmwIw+clmTEdSEnDChKGmcCLsldS6A1u4gIxNr6FDHBJIjCRBC+4Pmklz8Bm4PfbjG+9dZbR0fiBEXXmrM5AhcfMcBhXyx0YRJ+s8HVWJJgFYMkGVuDIT67oOKxI+WEb/7E6KBTk8EyNl8BcMyeH9zM8c/f2SLt49s4RELnUrJYUAw4BoCQMR2ESM8JFbZWZyGAjHOdQvhiQ9ecpETQmb6z250EW6/4rvl2XRKIBLDnRyPBwJ+9YPnBV3x0ulUZ08O9sQ4m3W7ZtqPxkBM61uHIiXnx8Fei+cHTNd7d3qzXCGzoyMkUZJHwOfnCEEjFAKDCkuusYEgLmL75AuRAUJzQIZwJgrhNISspArrrrrtGz7Vg2BZUScYHDzaC5ofwUVCk4tPv9sgf3xJWw4jBtTjEXBMpGG5iouMaHt/lpviI5JnDyTzO6cLGo51EF1eFkCtrdAgb8RcHzHmGWKAosBwhHqkqrxAFXVdwZB1ZwZRQSaygiNSRbHSceVjsJM4aHxUDSVzMxYd/QcMzjxs78+bagewUnC92OBFjMRo748ieSJrk8VvC7YD0YEsev9YqBExxsC9Hrum63nPiCx5h65YtD+JjC+dsGZ1b1H2IJAJJ2sKSlU7dUqdKOJEwTiPDScWja44+Iq75YWsNaXrW+ar4AoHBBnG6fCgCG/M1RLcJxTImsMzDhuWazxJvLj94y0fczMWZ8F1BxdruxRUmfnYn/xqND/73fNN1Nv6f3K/JefVfjudrAOM1ffHKr2Cu17b+n68w2KyAx8Y8e/rWzFu3xg5e+HTN0enrA2fzrtn7amGP4RxHZ/p40DcHz5xrtnTM4eNrkfjGJ19srDdnjGv+/z8mPvNrji4b1zCMXbfO3pkN33u+e3/GdPg6rpcnX4it+W0qTbzIeIHxouXNUxWNdYMOUFE2ztbp6QCdA6O3W2+qN95443bp0qV5AdM1Yek+c3R1oJclL1O6iY4XOfrmeuHzMudl9cUXXxzfXkrheEn0ho8b+14acXLGkZ4Xs97+V2JG11xvzzC9rFlfyZsY7Rxx4OPgeyV3fNlxYrFr8Idtnu2DDz44eNaL0xrO5noBposjHsbHVRnf0M4E0hTuvffeeXO0rcwBAO4t2duvwphzdvTJQYDG7J9//vn5OgRpiWVv23ugSZgkwUDQG60iSIDE0DFWCGe48L0ZP/300xM8e3jejtlLqjhg424Od/O+klAcduyvX78+Y/7p4scXG3zc/rqN0mNPFxfx+7pDYVaXz1rFJJLeLd4cLMWHjZtY6Iv1jjvumHlzV69enWaYhzoQ5COwts44VxzdK6nAPYSQkAhOzHfvJjAEooPgcMqZ+yMs59UAY6sr+CnZcNl0P+YPFl+4GONC10H6tELafcQDHTZ73V6CdDtudGHgB1MMxuLQUK7p4ogLXPOw2OMoBvNhd3eAwYYefIKn2PChT8c1PTr4mJeDeQ+xiIQE50yROJFkgiCDgqhgDmsSS58zAUqIsXlYApLUSEo0n4jQFTxbuvwj2Xw41q0J0DUONcG6H198lF737UkAG2s1G7t1v56vgpxhazJjNmKXAy+jfONMNFINBIMP/vdNIDbNZmyeLSxx4m/OuWam79rZgZ/zgSKRCFICzQuEY8qRYFTQdBTDugAVrKA4D4dYIxWShNWcIATNlm+2sHVbRWETjxItYYfDYa6JhNLHTdDGimUdpuKxx7mkKyA/bAg+/MAWB/4VFGdNl1jHGwdiHU455VeMjeXInCJrUJjl4F8IIkI41/0qTayZoywAnUTqPmCcW6Njri3cnEOXpiswPqwrXIVAUhIJPnwgLHkliQ0d53YaHWNBkT0+kVTxsJPQiuaML7/rk9bgiNecZiPtuOKARWCLyZxC4ErEIunG7VJiji4ebPkk9Im8ilmuz5aTc13EgALiSCAmUeaJbowIZ4KTUBJpyWAngZEr4ebpuXaWEOvIwWVbsiQGnvnm4BgjzTd9YxxgOpcI9rD5EQ/u+ZFU9s58WMPNNX3cFTt7/kssG/OSV/H4hYuf3MglybfmsNZcPKyxrTHK5UFgCJgQbAvAOefAHACEkEGejTUBOSTFISA4rjlDvIK7hmOtMYFb4AJwZmPeNRuBGCPfvZqO4HClY825BMWTreuSQ88Zb3OOfeEdYuCPHT3JZGfOLbCE05UfMRG+7FaY1tmzoYMnkXP24ueXHoF/qBMEt78vEtuREiDnOoxTDq2zLSGKQScnkuHawZ6vCkkqlqQjLjhkJTzy/Jl3S3E7dLhX8xtfPFx32+IbrvnGktqtCYd88oUfLpLGF6nJCA7dFcRXMuXBHN/m2cB0WHcmbkl05KBbbIUkYuWLzdkid44QgyqFJEccS7wk1WXmSADGgmfLISxzxtYLgA7HMOgRCev5gKB5/gTPPn8lxlrYdTdu/LiWODvYvb/7dcI3H/ScHRUdHlwJgtFzEB/Fg1P8dPlwxkveurPQp6PYYuPLuGKycW2Obzb5juvBIiAAHCEESGIJgMhyjIBkRN6aQ1KMAXOCVDvCtYAUhY45h3U4/Caw2AsgDHzY48gPvpLRjsBVYcyzy6diw7LuECv/5vhlI76SYV43syUlTMwKCHcvNSQueEoynXzBrXH4FScbBzx24kqMz3yfAgiIxbrGWAGcSQ4QcA/lAIAxEtYdHHFYh0iSoFqn7wyXrrW2ujn6iSDpS4gzwUESJVvCiDNdGJJM4LJpt5S83jlKOp/5Zoszcc2XnDjHvXwQ8csDLP4kXP5wkROxsOlugyccce+5Ej7gXfwIl2PgEZQk8wIPUIdLjoBKBl1bHBFB0zfnPs8BRyWjjoSNLOL8VjhEJVCANQYO5vnjX6B81Hmu6fOBP99i4Ne8j82kgu13BCz47GBbp4cn7nDES1+D7ePGib3chOecD7iuHRrbGHa3u/TNwTDn+XJc83677wLcdza+TPNdTQnzfQ9lSTPv+x6/V+Q3L3x/RM/3M74Pous7o3YPQr776TswZ4fvdYh1/onC+m0W31nBQZg/yUKYL99FGfvCDj6//BPfW5lTJN914WudjS/++u4MrnjZ0en3phQCd4V0mCN02cGUj5rI939EcXzxaA627/zoaxr+faeHu7zy6QtXX5TCwxmOfOAx7yESpQN0J1I6wxzH7RQdiJiO0SUC55wgrwsER5cODGPdRxBhg7QA4NFpntTZOkyh9v5hEfP0NQ99WAppJ3RLgMHGYc7hul1l3fOH73YVPHN07E4xyAldfvhoV7hm45rEQx4SfM3zK5f88C1P8K3LgXzDs873xS2Lku91XFN0LsGAGdolDDkoYdkTARJOrdOFJThJpG+ePjz6AoGPTAXWGObYCQKGrmdHxzo71zi6DeDUoQDmrRu7hl9SieThYs2c2OnLgzgVhw7OzviIx7ozm26hrmFpJFKMsGtezy5j82zE5GzNM05D8XGg1JHjdgkJTEIIZ90TCT2HYBBrB+muCBHrDoEXABIChwcDMck1Hw4/rungZ44NXhJDnNM3z69gYWWnsPT4sUYHx7pdc5Rcdvki5UJxFYsOP/kyD8OaGBUfb8Vzlnyc4ePBRo4V1Jgtf3bpIXBGObYISACIeqFCkh4n5oAgjIw1TqzBy2m3FUmBxT7ReZKYjrX8tg4jW7p8Frz1Godf1+x9AmQn0WKKpyTBwJ0+cdbVsPgguPMpWWx6fuEHS1JhmMPFboVr3YEHfwqDB5ts5YZobmvOrYuD7fzWiYQSk4A44CxwgSLOeZ1PjNumgtIhEWs3sI2Qaz5KOoIOyYMjgc3Td6QPX3JqBiI5OPLFlh96EkmPvnGNYh0eEUONQ0e87ZgakT4fmiZ7vuJCL457POK6/OFTs7HDNVv4xjAV6MzPlN2SSA8xQjliyCbGdgxjILoJ2UgLnmNkuhdHsmILDEmCaMkk/CpOHShYSaLPnwBgtDuts93j0IGDg8TUALiTmosue9h4i0VcJR+Ga2fCP4EvJrzo8SN+8/w5i7Ux3TiEJdc4O7pFK9YBqEUiIAQFiqBxXWkXOfpaRbKtKWa3HbcLc8iYY+8QpAOpCohocwIizgIkgsBB4gTWnIDw2wfoWoFw2BedD2Nr5qxnUzy4EJgSTsdcus6wHHjwBdchb7DEQfCj7yxueTN2zVZ8mrw4HDUffDznU5YqSRRSVZSzuoMyI8UzJoKhz4HDuluUJCJhjr0jXYIcfIXTmeyMERZYZ77YagD84sZ/yXPEUfAw+XUuDv4EKr6SCo8tP+yM6RQrfAdsOHTzocDigRNvepJdl8OTaLmggxMREz9ipsc2n/Tk47gm/dOqeRnzEuZFxksOx4QBRS8v1gD1MtgvHJj3cmfXcC4A9mxJL4J2jRc0wgcc5J3h++UDdrC9MNl9sBFnh7QDX4nyCw4STseLlsDE4EXULx940SIw2fsHO5JHj08vZhLkBVCS4IiVvljgwzJvbF4cXkrx8CL82WefjQ86OHsp9AIodgWiC1t+fvnll/FFFzYdGHTIo48+up2te/y5BDIiVU9HkZ4DwK1JhJ0gEQAFpBOIxLGlW/IcdOhLhkNn6jIdQ+xG64Q/91TYuhQeG7uOf8WCZ82cIrcb2XSWdMXG1a2UPzytia14cbZO6MCHzZ7IjYMv8/QVhuRHvOystS5PxcWeb7sIJ3N8iYPgEu8DMAuCAsIBBfM6tPt7WwwQYqSE0bFGYCGkEBx3q2CHjIO+NduaXzjskILDf2SdrQuopiAFDldXS4g1QfHNJ2wFJtnxDavDes1Hhy9j82KDAR8P693CejaY40vTEg0CV2ywxBQvEi9n/K05W5ebs2V4bsCQI4ukYBhyLmDBlChjYixRdByuJQvZEgOfnoOPioIMvyWbrrEd5LpEwPFw1+0SIlHmS7YdZQy3BIjDdfb50LU9n+jxYQ0m/jCc2YtBHhTImR19dq4lHU82YjZHTyE6O4h8wTUOHzfjOJL5LstiHWdB0kiEJUFSBZMg0ZYEihh7gRFOwhE8srqZPt2Kh3hk6dNREMnGiRS0NVxgeNhLJOyKj0dJJMaSaafjSpcNbmLjU1yaI586HZ89x3TNwyDGrtPBnY05eeAbJ3zY4WS9fMpTO5OenWX9uB5A/o31PJw9fD2YKHgIufYw7OHLsXkEPTQ5psOhNcH6cICU317kvA8MksDWg1TgdTd8xDzs4Pkm1IMThodw3woLGIaHod/yEwAReJw9HH1L7KGJT/GY9/AUBx8e9hIlbn4VjJ0PBmxw0gz0xSkGOK6t4+CgJ3YfJDSLMXwiZokXB97xkgN4/PsXy9ZhGPv2fH5AxYAIai9VtoozlkjGOjQgYk2hSF0HFymVp6ubYFlnz7Yudk7YSXhd7VpBYLpWaLzsOpzp5Ufj9JETJj3+2mHmFItvY0LHDsFDDDjCwgNvvtv57Vq3ULvJGl+w4OLLlvBJ2MAxD5s/ccgHXFzCnZ+pMyx41wESDoFZIyVVItreCWDB07FuDBfRAmTbrUbw1pwRQs41DpIvefTNVzjB8CmBdNo5JYM+DDwUplsl4Tde+eeXLruuHRUhLH7hKDx+NQIsfHCzzh9912ytyweO/OMcF3Pw4kPv4D8SK2BVo4QMJSJQHYkAqfNLjI+MCMDpLDDrBYiYw+6CI3i++KRvzpgv44oBX1L4cybwBAHfNcFXwY3psnctOe0W/umwlax4Eeew0uUfrkTBIOkQxTDmKy7iw9Ochqk54MgT/+JUULHKsTkfVtjIw7yHcA7QInBGKUhQxakD6TvTkTQ2nNBFiDNBlwB2CEoWQZA9UbQS4uwTE1247DUDgSMJdNg66JmjR/CMl2KUqAqKBx1xicEcfEWwRpd9nIi4XLNxFldC3zpMPvkLpzlxuN43p/zSky/+nM3jefSHYRgh6MElcA86xh7A3lS9VffQLxmC8XDyIKNHnAF7oBEPRQ/U8D1YYbCTRNf8KBC/9Hor7nbgDd6ZP8E7JIeeID344Qi+puDLQ1djsONXsL5ZEA87unzjiLP4CFt4Hr7WxOQbBLpilUy+8e+DiTV+CKw++PAvJvkk9OSYiA93Z/niE+eDRCAYoDNSAlBF6+6PCCBDBEOHM3pAdYejalvz4DPWrYpIJJPw41oi6fCFhzm3CMHwwa85PBSm3cWHa9xgdeuMF7Fmzi5gwwds13y5hs/GgYdd1+6q+NbY8rnnQuSEH3kIqzMMeuUEht3oFoWjOb7oEzbH5cCfVZofxNcZKqWq5oEx9v2MwJFx1uUC0zV2ELC6zhqRVF3mgCeYdgA9ndtuZOtfbkmIa9j8IG1d4dhbww9PH4nDdW5HsLEzFQIXY+J7Jr9EYWy3wPBRF6YutRtgG8MUk5zIgY+oOEi8j7+EvmQ6iwVn/nwnJS8+TvcHaszDhSd+xRJX/1pNjsh8uShJuo0jAVlUWQDmgTF2+7COdFuXQ5/DBVASzesEzmDQQRCG4pmHKSGIVWQYyApaA+gegeIFT9IkSYJ0uIAlHceCY4uHdbb0xSJx5hQKruR6NzCGK2YFFYtGlCQcrPOHt6Om5Yfwj784+eq3YohYahJCDyd+rcHCVUEdMOahDpyyrUcRcV2ENJEoBWgLJrYgkLqXwJIcu8qnN+sRInDrPnYI89tthu1+3rhisXFtrtuCeXMOhfHQ5bMi4N1bPbs4s3OrFbc5466JWHHiA6bEwSAVQawOBTPmhw9HRYdb8YgxfWfc5Kh4jI+rm08CcahShCmoJmNVR65bgO5xAHILQMa1ztHNdVDdIBi3Is49yJqTdNfmNAEM8+bw0Lk6FBeF5FMgdD2E6dmNHtQ4u9bFcOjrdHzbXeLD125o3Vu7sd3mrCHbJfGQXH5d4yxxiiknutx8jSh2fN0VYODkzmIu+77S5xMPGPg5ny3g+XJRkJKhMAzrWAUBJmAFMaavA9noIAHrBjocwOkeaYxsY7qCo6vzFKqPuh6ycB11JXxcsi8w9o3tDjZ84cifdUmjA8ORwLVmTrx7/DDy7ZoPRSB2rbli4cs6XTwI23aNNZjszIlTrtiLg+BuzP64wE+qIwAKulWXA3FWNV0DmI5kqrIgVN5DUWcRaxUjG/bWdQsbXep5IiEFX+d2L7fOlyTYZZ5ZPnTUcXBw81A3hsNOgvgUOC4Sko2E4caOvSTYPeadcZBcZzb8SpyxXSpZ8YTLnwe9RMPvB3US6+Df2A70LOIPLzHKMXu4comXGDTH2SrC/CUHSaxiHHJkHrCqWu/WBlgibWVdLXnEPBsiUAHSkyhJ6KUKCcGa2+O7llBnBx52YZ0oqH7gVOHh+3jtmk/rxnjhYg4vvuBIlmZg71qcdPi1zi+fda11fPl3bV3c/MGALS6/y9wzxDyBEZaCumVrVPHyF4Zr/IwPnCDIEUMHqWKClzzFosuhgx4A4pp9yeRUAA6SU0QED48NTETdsmDTIXHpNgqnAOwa69aIQARaM/GhGObdo+EobI0Cx1E8+MASKz8V0TU/runhybei4U9gaAi+YPCDL55siOKZUzjXFQO2QrPLng/kL/60g+vOvgVeSvMnIRbAxZ+BcG1ukZlrOuZhrO6c+fAW8blOF8Yq/tgv0jPv15DowLGeDUzr5mCFiRsMvszBNWcM05p5PtjGEVZnR3E7GxcTH+zosjUOlw4/zvG0lo4zjHTzVX6sO6zHzThdevPlom7ok0QdqFNUVofQsSsW6KypvsMcPfPErctYxV3rOrtlERhd3cEeXj7M88GX3WjesQKcrukNHJYO7LZibgUxfl3zp1ub1206kNDHt+7l37W4na2t5Fw81/CBwT9cOtbNG8Mw5mslc26RsKyZd+afHpyV9MGAbQ0fO7edZt71ao7tTIUAAxIsp8YcCBAAZWsMiTGdApQojumyQabkmKNjrtsULPOrSybR9OjDh1nCFLrbAB0JI8ak7S9xgmTfhwm6blmJOVjpGhP+4y4uDQmnRrVO8FNgdhVaIc1rZvpwcKPTma4G9WyTW2P+5cMhLnau+TqzBRkj4WAsgchQBkqxqtKxBqA5jgRKv6Szy96c9XZfBSV8uRYQsa7jiILZIfCIoGBJOgzCrkTj0VxJIubx1s3pljDNQU9iKwa98lEj4ahBXNOt0WoAGDCd6fBpnq/G6fBZ/DDNheeP37qPzYTEc0YBCEDJlxBkC0RQ1ugCIa3nVGIFZKxTYeyTUtHqQGuaQWcj37y5OOw5KZRfaYUlOP6INcJe4ARPiYXFP33djRf+riumBCt8uwE+Tq77UIKrMUz+5E7M5mEXK7/tYnmgy585193q8UrmNxcD6z4rcB3oDFSynTkGJPEC40gnsgWODHt6bPedgGTFQIqNpNKz5hC4RLAROL/mXZvjW+KN7R6++WvHwbIuqYI2zxf9dn6Foqug7OnyY825fNCHwQ+ucCVWLvjroK+I9D0HsqWLJ05wzfErD3zJhbsBPmzEfug2YIICRQk3BoIMAWaMjDXO2CFABM3WfMEVmEQbEzgKiSQ/dOsQ+rrOOpKS4ZrQZUun3VDTsK8LnSWBT/HgxQZvHCRQQogk04NL2MeVvwrAj0Os8BVQXPnWyOZgs3PHwZGOOGDgYN2cwzpbmOUJx+NS8tf753sib6yUvAErhE7nDGHf0dAhvuvxlk4PqX6I5eDcnDdXb7y6nHNkvKF6AxYwXevIeDN37jsk9gSXAvG2Lmhvy83xJeHWvIG7jrd1ycGTfzGY44sfXPKFj3l5kBhrrumXODjevH1jUJ7sWHbGfqVUbAqmkN7Cxdi3DvLh32V6Q9eEuPNhPV6Ty0X6vGqqkEmBtI055oRziWi7EtXXbc7NsY2U64Ii9HSEzq1IdXn2eBDr5nU7LvzaPXDZwNDN7PBUCEmPX50Ng0gKPXY45y9O4nTNL1vrsBTZ4ZbsbFfhxBdeOImTf/7cgsQPRzPLGz2Y/PIDRy7ZEXZw6c5vLlqkBEC3MALgcF8rAQwQEJhrQXKOfAHngCAi2JJiXcJhCZZtSeCfb9eNBUAfHxiw+DLH1ryiKBIxT68PKZIkkbgStuzwqpj0xc0fHOvW2FvH2VwxSCK/znY/W/mjVx7FJgbxmBNvz1h6dMRN6PFHrF/8IWXBIE7Z2YG4TgDqQMw8UJ9Q6l6A6cBBtk4hCBLYdGAKHklrgmUnANd8wJZQ84LOXjIUZp8Mfhw4wYTjwCM8OII3Fri19Bzx0nBx0YyuieYkYi+x8Iqfb8/jmidf5sSKw/8/H+NSMfmcgpS4EuYgguMIeUa6BmlOI58N4pxwQK8doDtI+gIwz4Y+ogKXXLaww6k5EMXBGjw7QMFhtou6ldEn7PkTNPvm+aZvntDhG641eq5hVxhz4tcgCb8Si5fk44YvCSdRTP7kRfEqNB/m2YrJ+WASMDBHioSjiLkmQIk5gnBVdqbHKRJtS1JiiDWk6TePJCkhbBVVAQldXOyOiupQmHjSYVuys90XCm96CgELhqZzFgNuDsmpMeHBSt86vjDo2K1EkdrNBBe6cubAgx2uMM3hhT8OZP48kwnBU+SAIuCSzqhupWceeYmkxy5yJZ0OXYQQobffFdYFKTl0CExim7PFwy7VhRJBwmXnsGYONh9iCacmgcMeN+sOwj/fMCSqZxEsElf+zDnCNicnks4eNjyJpuchDZt/NrDwxMO64hE2fODOdj5ltbV1dlXjwJnTEiYQeggAMgZu7Jo+gpx2CyEKZh2hXvbgs+1BzWa/owg8iao5HPjAC8u1pmIPh7i2zh53nMXI1houdPm3XpLFXhJrpsT13k95MNbd3cLSZW+MO5EXzcW3Wx9bOHyWP3bzt06Q9ZncZ3wOCGUJNSe5SAvQWGAI9XN1oD5TszUnUIR85rbup2bsBKQQ3gNg+Pzup27W6BkT5Hwuh+OzPTvvAMZsfb7nx2+ZKBjfbMWAQ7uVXg1l7Bq2dyrx0GULmw9x4A3bz8T9MWRrdK2zF4sxHRz7GbrDGnu6+Hj3UBS8xOcdxpqfsrLrt+0deNE7LoWT5PZSx6kCAPNPCgBLmCCBIcNJ3eDl0EuQKgtIAHSt+yUBL1Qc+dGn5NpZPkEhyJeiCYxPZ2M41gusl0h4xv0uE1+6rX+eUDOwEyB9iWJjjeRPrF4mXUsIfH6dvWiKC3c/fmVfIeRCvHT7cS5+fPFBVyz84qEB4bOPMxuFkwt5gqsGMA62kW1FoW4izt3C7JRuURwJmjjrUHN1H3B4zmzptG05dY2oAhojx86thx/FhMe/Zwkc+uY8wPPpluSajXXitgHHga8i5QOec5+U+LRmHo7dL97W/EiWb37pubWyN9etkB/r3T5xZys2c4pBj0+6bIkcwORX4zlgsp3f7VU1yVNpSirq6xAdogt0ER0OkKrbVFQ36Ca3EnqSxRkM3YiwH+xzBp9z636L0BosNrD5o8MXG77yUwF0594nvNbajQ4Y5nDwVQhxlhS3C9e6GWfNxH+3svD4sIv40OHGOMGWHzFYx89Bjx1s13KnWdhZh89WzLhqILGwsfPkYf4FFaMq6rYCwL2dcuQk0TpHuo8OQUgxOVMEehLiX0I5SyzndZPgJYG9OQk2lhxFQ9b9W2H8krOz4CswP7qJXwGwt0vcnyVTYHjj71bmgWue3pUrV8ZXD1H84PUdE9x+K5Nfgrvd4SxPcoEjTJxgFCcbiafrjmNniEvO6LYb5dTzw/dfuGus4jv6X35KIqLOjB2SRzxLdAJl6yVHpV977bU5Sw4yPax0Bl3OrTvcKxUOeWMYEkoEJymSKVF0Be3QIJLUH6sngvTLe+zZupVJtnU8FaTbnNuIAsA05/mDF574WDfmmz/YdKzhKS4Fwos40+GrLzV7WMubgkg8PfmQO2dYmgQ/vFzDsZv4axNc/Dt1B6GMIHDBIkxccyrRHNpuiJpnW9cR21rlYbjueQG7+68k6rzW7BwJdiaebXhYh2NX4uKawOfXXPdpeN2vccWHHtwKAxMWHVysuacbE8XMHgf+ai7XfFVo8/FXQNfZ9bJpjpg3huGcv2I2h+/8vSwTzkA5luQS57p1IDkAIBDB9YFgL3BKqC3Knh5CkhY5xK25di5A8849R/Bw8IkbTEfXuNKtQeCzjx98SZEAD+8aEB7u1ogY8YPrDBsO3JqMmKNrnS/+FYkOHj5JmoOtceMKB0YFJvjhRebbXoVATNdzVJdw5Bowo5KjA8zvRZCCoitY+pKBIOEDGUT4oougIMzR1eGuCzAbb70+cQmOnsJZL+B0zRPc4bY780noEbxg8SUZEpZ98cE1XwzW7WzJxp2ONXrF7ihP/BJxmasoxC2ULnv+8bV2SEkxEBQgkhUDOToOgQKh41oRjAWtmwTNkYIgkDMHPPNsCXvJliDYgnQNDwYu5l1bkwyYbCosrObY4YoDX7pPXNYFS7di74vBFhdf7rEXE77t7HaVXMCkC9M8XTpiJzhoaPjy6XBth4jNGKf88Q2THTwyv0rqApkUkGWIMAfIAWyb0pMgyUJWEgRrV0TKkbTzYNCBLUlsYbEVmDVFy5aP1nCBLbHGdT6RID7sJIFKAKGHL5xikVjXhA0OkmEHih2fnm+ELny+rcG2Jkf4WsejH1zBg2udPsHZmA/reOBGFEzMDvmc/9MnQ0pehrp/ZlSCOc64Lgdu3hk5eulKgqSzgVPBOJUAOCXUOg5IK5p1utYVW1KN6/rw6PITLjHPJztrkgOvneIXG/AzT8x1TR+m9cYlnk7dLEb4xq6dNbQzPFwqBjxibJ2dnBP48l0ezM+f+KMsSGACZuhggIAAGXHk2lmnZUfo0akjXetihOEKzNgaURD2CDcP1zxdnY4sf9a65bRb42quhEh6vo351iz8JPAlOLy46e4SKSZ+xUgUiA/zrvkXL1tjfvaFwiseMIl1XOSHDWw7BhZcxzSGh7qiOK+JuV6KF7+3an6Rnd89tW7eeSVmdJ1XZedYfue8kjnzzuG5hrP3Bd88mz2+OQc9v/sbjuuVqNGBHz/rxvzQowPLwec+BrbO9M3RNc4WlrFY6MSXL7rW42jdXPHtuTVXnPE0nz+6DvEb05mPvctguqsq9YBR7TrQWtLtptuIztBxcIzrVPdbZ+K+rHMW6el8uivY0YW1gpj1MM3pKt2ryxbZ6Sp68VmBDT48urDgmjPGCbcO8RBrjnBc88euncxfuvTYuqav04kdAtd6u0YMeBWDMT3rePIRD/zoyVMP/vmUxUAgADlwlnRrjIyRpNPzwlxSMThiI9H0XTuzWZ0wCUPAXLcHB9J0iTPieHgXsQYfWTYw+MHBHLzVecNXsCXJdbz4o0cHFz5KlDU4OJvTkBJJl1RcvjWqccKmMX1++TSn8fh0DTcOBPealb41funN/65CApCoMK6dA5AEziJuPtJru01S0wuHnkAEL4GCceaUvsRIOEyCnANRmHzQ60yQJubgCtqZDeGX4G7eAZMPutZxkoSaw2ENb5zlwpkv+tY6CD182MPRaHJT11uHCUcRjQkeMHA1L0b5M8dfOvP3sjgwoGhR0oASztb97eLNWbD0C46NiiNozNY1gSUpOVQUAcDmz1l3lISCrrCJebik20VJ4BsuHgROjUPgV6j4SuS+YHv+9Es2v84OejUWkUxz5YE/nF2zLxa3QPiEvxqOrTEb+uzNHa9du3ZyQdEXf75kpCRgX6wZSxwivhhDwBdzEuNbzb5ihuHLNnMV0z1fIjljIyBf4vlikQ/4kldh4LuGA09QAjQnKfz4ErJC+IIPluT4kk+AvtXVMNb55hee2CQHji8AxWueboXhi44vGengZi2BDRNGDUBXLuIifmNcJdofviS+lJUP32TLh1jZiluO5RHH+b9FIyPRFcaO4NTLDsIqiqh1h12SWOdIATlCgngoVliJlVTX9NkLSHDm2NBnnx98cCDOklUnJ/RhwOaj219JZMeX5PBLn7RO37p5PCo8gcvGHGnnwPLMci2+cNnJgzGuxNk87HZJz1K2sOmwoQNn/jmCiwKmREHXcY4w0IKxbk5QJZywlUy2Epo+XLck92Q2FcK1II356aEGXzE0QzbmXe+LRczvg3WNK+78S7g1fImxeT6Kwzmxjn+3VeJc4nFxNoc3bPHBLME4GceDPt3407HOds8Xjp11XIsnCr6Pt3X8nIEI2hZk5GciwDizzXSC7/eBAzRHV7LMuX1wYuwWo3vpIy35/sfFPTdsXXrG/LiNua3h43YD388N/MDLbcTPDNi5NRDzhC7fEkBwFAO/DnH0cww/n+CzNba4KZAm4VNx+hkJERN8+sS6WCSSnrGCSTRudoGf4dBx8OFnH/DEET95w9nPVNyJ5paFCIIAC0oAzoiqXMkmSLu1uc1IvACsKxhiCiBpiugaFj33/m5v66Vs5qybq1vZs+02iTQ9HOIkCfTqfDps8Mc3X+0oNtZ1qjFsO5AOTHZ4wBQDcaZjnj92zvRdE3xdy4fr8uMcfwKLrabDxSOhn9nTi4PCzZ/WEASyHioqRcFu0Q0qWlC6xNjDTZfrDF1t3k6QGAEg5CGmy/3EDJYk6ZKSD7tdYJf4EaiEIGVMrwDplNR+5d9vg/CHD/7w7J52p4ONTu3Mjh7sCmjX8GNOXDjQqUiwxQlDh8sFXTxh+GAgZ67NsfPg7ieKfTDStESO+eMXV43GRz9VnH/0qZIZqDYFwJy41kmI0HMv7GcC6ai8dWOSnSAkRuKa1ymKr2sUnjjbbfDN48IeF0nxkRsWOx0lcHrO7W768PkTJL0Kqhh02LQr2iX5IfzmGxbfxN1AbGxgweBXHtjC5qtux8vYmrH4PZeIWNJzuMVpArtG/PObi5wThpRKiuR1a0KIEwcQYg4ZdiUYiR5iiLkWGKetSRp8Sa57CRzr8AVNp096DnOSLRmwK7AE4lLiBS9wQfLLlg58vrt9ZE/g0afHhg/X4uUXhut0xcuXmOyYmpEOHGs1Kizz8sAnfPr5ocMXH/MMQUoyIx4AAwAM6nRjutZdS163A5IDiSXIIuhcx7CxrtDupeZhSySfDoI0bnU14cvu5B8ntppG1+FuzN51nNjSxUtSJApPxaXjWpIJPXNyAZd/3OjwTQ+GcU1Lej4oFFw6RAyOGogdoWNH+AhdLuXk4u9lEQuMK0Dkdbs1goCArbmmL9kAJSNw86TuMUcfMcQdCLERmKAlMV04FZt/O0XBCowu3jVJO6vE47gPfn+bsO7gK/+uw7DmGjbhxzrf1sSOlzlNxRdc13jjFlccyg+b8maNWGcLA5fjerjMn/gz4UHj4crAwxK4eWeHj2jEtYT63Vek3R7YIuLBxFkPSw9o85LSR1YPfD4RCLMHPP8l28dH13AkwgOdHWwPWr4F6S2XvQ8WsOPhoCsJOOEgLhzYV7wawsdRH/vzx781tjCJeHrzx9c13OK2q8qNZPMjP9YqJH3FtOaBLy42ZP7BTp2GSCQZ1ImuFYmotlsGm4DrUMKpeVV3q3JLom9dcbOFCzPdyAqCf5j4OOjRcevqmWLdfIki5ogYHMb4wVV8/tmY55cvcTv3TOGHFIf1csO2YsGDbWzdmqQ78wPH7UjccHCn68zOoXhwHIp2+fLl7d9TYomPcX1hwAAAAABJRU5ErkJggg==");
  background-repeat: repeat;
  border-radius: 4px;
}
.articles-filter-control {
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  background: #FFF;
  border-bottom: 1px solid #F2F2F2;
}
.articles-filter-control-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 750px;
  margin: 0 auto;
  padding: 10px 20px 0 20px;
  overflow-x: auto;
}
.articles-filter-control select {
  margin: 0 10px 10px 10px;
}
.articles-filter-control .countries-select {
  flex: 1 0 auto;
}
.articles-filter-control .categories-select {
  flex: 2 0 auto;
}
.articles-filter-control .time-periods-select {
  flex: 1 0 auto;
}