@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&subset=latin-ext");

* {
    transition: .3s ease;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #222;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a, a:visited {
    color: #222;
    text-decoration: none;
}

    a:hover {
        color: #222;
    }

    a:active {
        transform: translateY(1px);
    }

    a:hover h1 {
        transform: translateY(-1px);
        color: #111;
    }

    a:active h1 {
        transform: translateY(1px);
    }

    a:hover .thumbnail {
        transform: translateY(-1px);
        opacity: 1;
    }

    a:active .thumbnail {
        transform: translateY(1px);
    }

.articles, .filter {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.articles {
    padding: 0 0 60px 0;
}

.article {
    padding: 40px 0;
    text-align: center;
    border-bottom: 1px dashed #ccc;
}

.thumbnail {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 0 auto 28px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e2e2e2;
    border: 2px dashed #222;
    border-radius: 100%;
    opacity: 0.92;
}

    .thumbnail:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../Images/WhiteNoise.png);
        background-repeat: repeat;
        border-radius: 100%;
    }

h1 {
    margin: 20px 10%;
    font-family: "Playfair Display", serif;
    font-size: 1.6rem;
}

h2 {
    margin-bottom: 10px;
    color: #888;
    font-family: "Open Sans", sans-serif;
    font-size: .5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

hr {
    width: 20%;
    margin: 20px auto;
    border: 0;
    border-bottom: 1px solid #ccc;
}

p {
    margin: 20px 20%;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.25rem;
    text-align: center;
}

.button,
a.button {
    display: inline-block;
    padding: 12px 20px;
    cursor: pointer;
    background: #664EF7;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: .8rem;
    line-height: 20px;
    letter-spacing: .02rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 0px 0px rgba(48, 51, 54, 0.1), 0 0px 0px transparent;
}

    .button,
    a.button:hover {
        background: #7C66FF;
        box-shadow: 0 7px 14px rgba(48, 51, 54, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
        transform: translateY(-1px);
    }

    .button,
    a.button:active {
        box-shadow: 0 4px 6px rgba(48, 51, 54, 0.1), 0 1px 3px rgba(0, 0, 0, 0.12);
        transform: translateY(1px);
    }

.filter-command-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background: #f2f2f2;
}

    .filter-command-wrapper .button {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 800px;
        text-align: center;
    }

.filter-popup {
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 400px;
    background: #fff;
    transition: all ease-in 0.3s;
}

.collapsed {
    opacity: 0;
    height: 0;
    visibility: hidden;
}

.filter {
    padding: 20px 10px;
}

.toggle-button input[type=radio] {
    display: none;
}

.toggle-button {
    margin: 0 0 4px 0;
    background: #e2e2e2;
    color: #666;
}