@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&subset=latin-ext");
.articles {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}
.article {
  padding: 40px 0;
  text-align: center;
  border-bottom: 1px dashed #CCC;
}
.article p {
  margin: 20px 20%;
}
.article h1,
.article h2,
.article h3 {
  margin: 20px 10%;
}
.article h4,
.article h5,
.article h6 {
  margin-bottom: 10px;
}
.article hr {
  width: 20%;
  margin: 20px auto;
}
.article .thumbnail {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0 auto -20px auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F2F2F2;
  border: 1px solid #222;
  border-radius: 100%;
  opacity: 0.95;
}
.article .thumbnail:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../Images/WhiteNoise.png);
  background-repeat: repeat;
  border-radius: 100%;
}
.article h5.popularity-info {
  position: relative;
  display: block;
  margin: 0 auto;
}
.article h5.popularity-info span {
  display: inline-block;
  color: #FFF;
  padding: 10px;
  border-radius: 4px;
  margin: 0 2px;
}
.article h5.popularity-info span.order {
  background: #F8AC1B;
}
.article h5.popularity-info span.share-count {
  background: #CD3131;
}
.filter {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 10px;
}
.filter-command-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background: #F2F2F2;
}
.filter-command-wrapper .button {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  text-align: center;
}
.filter-popup {
  position: fixed;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 400px;
  background: #FFF;
  transition: all ease-in 0.3s;
}
* {
  transition: 0.3s ease;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  color: #222;
}
header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  border-bottom: 1px solid #F2F2F2;
  background: #FFF;
}
header img.logo {
  margin: 3px auto;
}
main {
  position: fixed;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  display: block;
  overflow-y: auto;
}
img {
  max-width: 100%;
  max-height: 100%;
}
p {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.25rem;
  text-align: center;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif, serif;
}
h1 {
  font-size: 1.3rem;
}
h4,
h5,
h6 {
  color: #888;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h5 {
  font-size: 0.7rem;
}
h6 {
  font-size: .5rem;
}
hr {
  border: 0;
  border-bottom: 1px solid #CCC;
}
a,
a:visited {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #222;
}
a:active {
  transform: translateY(2px);
}
a:hover h1 {
  transform: translateY(-2px);
  color: #000;
}
a:active h1 {
  transform: translateY(2px);
}
a:hover .thumbnail {
  transform: translateY(-2px);
  opacity: 1;
}
a:active .thumbnail {
  transform: translateY(2px);
}
.button,
a.button {
  display: inline-block;
  padding: 12px 20px;
  cursor: pointer;
  background: #F2F2F2;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: .8rem;
  letter-spacing: .02rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button:hover,
a.button:hover {
  background: #e5e5e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.button:active,
a.button:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}
.primary-button,
a.primary-button {
  background: #07B0C5;
}
.primary-button:hover,
a.primary-button:hover {
  background: #069aac;
}
.secondary-button,
a.secondary-button {
  background: #F8AC1B;
}
.secondary-button:hover,
a.secondary-button:hover {
  background: #f2a107;
}
.toggle-button input[type=radio] {
  display: none;
}
.toggle-button {
  margin: 0 2px 6px 0;
  display: inline-block;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: .8rem;
  letter-spacing: .02rem;
  text-transform: uppercase;
  text-decoration: none;
}
.toggle-button span {
  display: block;
  background: #F2F2F2;
  color: #888;
  padding: 12px 20px;
  border-radius: 4px;
}
.toggle-button input[type=radio]:checked + span {
  background: #F8AC1B;
  color: #FFF;
}
.toggle-button input[type=radio]:checked + span:hover {
  background: #f2a107;
}
.toggle-button:hover span {
  background: #e5e5e5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.toggle-button:active span {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #FFF;
}
.collapsed {
  opacity: 0;
  height: 0;
  visibility: hidden;
}